html {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
}
.page {
  box-sizing: border-box;
  display: flex;
  font-size: 2.5em;
  font-family: 'Anton', sans-serif;
  color: white;
  background-color: black;
  height: 100vh;
}
.container {
  height: 300px;
  width: 600px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 80px;
  background-color: rgb(4, 92, 155);
  box-shadow: 0px 0px 10px rgb(20, 127, 183);
}
.text,
.fas {
  display: inline-block;
}
.second {
  display: none;
}
.fas {
  float: right;
  color: red;
  box-shadow: 0px 0px 15px red;
  border-radius: 50%;
  border: 0px solid red;
  position: relative;
  top: 30px;
  background-color: black;
}
.confirm {
  display: none;
}
/* When Ready change CSS to change check to green */

.fas-ready {
  float: right;
  color: rgb(39, 216, 8);
  box-shadow: 0px 0px 15px rgb(29, 247, 33);
  border-radius: 50%;
  border: 1px solid rgb(29, 247, 33);
  position: relative;
  top: 30px;
  background-color: white;
}
/* When confirmed of just do it all in JS*/
.show {
  display: block;
  text-align: center;
}
.hide {
  display: none;
}

button {
  width: 200px;
  height: 70px;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 200px;
  color: white;
  background-color: rgba(10, 112, 155, .5);
  box-shadow: 0px 3px 5px white;
  font-family: 'Dosis', sans-serif;
}
button:hover {
  width: 200px;
  height: 70px;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 200px;
  color: white;
  background-color: rgb(10, 112, 155);
  box-shadow: 0px 5px 10px white;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}